@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.header {
    &__container {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        background-color: $nav-color;
        color: $text-color;
        height: 10.5rem;
        border-bottom: 2px solid $yellow;
        
        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            height: 9.5rem;
        }

    }
    &__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.75rem 0;
        @include tablet {
            justify-content: flex-end;
            padding: 2rem 1.5rem;
            // align-items: flex-start;
        }
    }

    &__name {
        padding: 1.5rem 1rem;
        font-size: 20px;
        @include tablet {
            font-size: 32px;
        }
    }
    &__wrapper {
        display: flex;
       justify-content: flex-end;
       
    }
    &__logo {
    //    margin: 1rem 0 0 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 15px;
    }
    &__link {
        font-weight: 500;
        text-decoration: none;
        color: $text-color;
        padding: 1.75rem 1rem 1rem;
    }

    &__btn {
        background-color: $text-color;
        color: $nav-color;
        border: none;
        border-radius: 15px;
        padding: 1rem;
        width: 14rem;
        
        font-weight: 600;
        @include tablet {
            padding: 1.5rem;
            margin: 2.5rem 1.5rem;
        }
    }

}